<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Define your beans here -->


	<!-- The bean id is created and container will create a new instance for 
		this. the scope for this bean is default. Hence for each container request 
		it will give reference to the first created instance. Here we have defined 
		the init and destroy method. the init method is called whenever there is 
		a new object is created for bean(in prototype scoper, This method is called 
		every time since new object is created for each container request. the destroy 
		method is called whenever the server is shutdown or the context is closed 
		, and we can see this clearly when we use beans in servlets -->

	<bean id="myCoach" 
	    class="net.cr.CricketCoach" 
	    init-method="startUpMethod"
		destroy-method="destroyMethodd" />

</beans>





